.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  box-shadow: none;
}


.mapboxgl-popup-content h5 {
  font-size: 13px;
}
