.cards-patients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 15px;
  margin-bottom: 40px;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.card-content {
  padding-top: 20px;
  background-color: $gray-fmp;
  transform: rotateY(180deg);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
}

.card-content p {
  font-size: 16px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: whitesmoke;
  margin: 0;
}
.card-patients {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  z-index: 1;
  overflow: hidden;
}
